<div class="home-titre mb-3">UN SEL, QU'EST-CE ?</div>
<div class="home-texte font-italic mb-2">
  Un système d'entraide et d'échanges locaux est un réseau de gens habitant à proximité et désireux d'échanger des services et des biens.
</div>
<div class="home-texte mb-2">
  Ces échanges se font avec une monnaie propre, la MINUTE. Lorsque vous rendez un service pendant une heure, vous recevez 60 MINUTES de la personne qui a bénéficié de vos services. Ainsi, 1 minute de votre temps = 1 minute de son temps.
</div>
<div class="home-texte">
  Le but de ce réseau est de rapprocher les gens, de développer des relations entre les habitants du territoire quels que soient leur métier, leur âge ou leur condition sociale. Le SEL est aussi l'occasion de partager des savoir-faire, des expériences, de retrouver le temps et le goût d'être ensemble.
</div>
