/* You can add global styles to this file, and also import other style files */

@import '~angular-notifier/styles.css';

body {
  background-image: url("./assets/bg.jpg");
  overflow: hidden;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.card {
  border-width: 2px;
  min-width: 160px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;

}
